<form class="example-form">
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Nombre"></textarea>
      </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Apellido"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Direccion"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="DNI" value=""><br>
    </mat-form-field>
  </form>
  <button mat-button>Imprimir</button>
  <button mat-button>Cancelar</button>
  
