<form class="example-form">
  <form [formGroup]="form"  class="example-form">
  <h1 mat-subheader>Consultas</h1>

  <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Fecha"></textarea>
  </mat-form-field> <br>

  <mat-form-field class="example-full-width">
                       <textarea matInput placeholder="Diagnostico"></textarea>
  </mat-form-field> <br>

  <mat-form-field class="example-full-width">
                      <textarea matInput placeholder="Medicamento"></textarea>
</mat-form-field> <br>



          </form>
          <button mat-button (click)="Save()"> Aceptar</button>
          <button mat-button (click)="Save()"> Cancelar</button>


















          <h3 mat-subheader>Consultas</h3>
          <mat-list>
            <mat-list-item *ngFor="let item of list">
              <mat-icon mat-list-icon>folder</mat-icon>
              <h4 mat-line>{{item.Nombre}} - {{item.Laboratorio}} </h4>
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>




