<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Fecha" value="">
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Diagnostico" value="">
        </mat-form-field><br>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Medicamentos" value="">
          </mat-form-field><br>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Consulta" value="">
            </mat-form-field><br>
          </form>
          <button mat-button>Aceptar</button>
          <button mat-button>Cancelar</button>

