
<p> Horarios de Consultorio</p>
<p> Lunes,miercoles y Viernes  </p>
<p> De 11 a 13 hs <br>
     De 18 a 21 hs  </p>

    <p> Pedir Turnos </p>
    
   

   

   <p>
   <img src="../../../assets/img/whatsaplogo.png" alt="Girl in a jacket" width="20" height="20"> Cel: 3413161599 <br>
  
   <img src="../../../assets/img/signo de telefono.png" alt="Girl in a jacket" width="20" height="20"> Tel: 4550376 </p>

   <p>
    <img src="../../../assets/img/mail.png" alt="Girl in a jacket" width="25" height="25">  Mail: consultoriomedicomendoza287@gmail.com </p>