<form class="example-form">
  <h1 mat-subheader>  ObraSocial</h1>

  <mat-form-field appearance="fill">
    <mat-label>Obras Sociales</mat-label>
    <mat-select disableRipple>
      <mat-option value="1">Ninguna</mat-option>
      <mat-option value="2">Particular</mat-option>
      <mat-option value="3">Swiss Medical</mat-option>
      <mat-option value="4">Smai</mat-option> 
      <mat-option value="5">Avalian</mat-option> 
      <mat-option value="6">Iapos</mat-option>
      <mat-option value="7">Salud del Nuevo Rosario</mat-option>
      <mat-option value="8">Iosfa</mat-option>
      <br>


     

     






    </mat-select>
  </mat-form-field>






















      <mat-list>
        <h3 mat-subheader>Obra Social</h3>
        <mat-list-item *ngFor="let item of list">
          <mat-icon mat-list-icon>folder</mat-icon>
          <h4 mat-line>{{item.IdObraSocial}} - {{item.Descripcion}} </h4>          
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
  </form>



