<form class="example-form">
  <form [formGroup]="form"  class="example-form">
  <h1 mat-subheader> APM</h1>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nombre" value="">
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Apellido" value="">
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="DNI" value="">
        </mat-form-field><br>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="celular"></textarea>
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="E-Mail"></textarea>
      </mat-form-field><br>
      <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Medicamento"></textarea>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Laboratorios</mat-label>
          <mat-select disableRipple>
      <mat-option *ngFor="let item of listLaboratorio" value="item.Idlaboratorio">{{item.Descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
      
      
        <button mat-button (click)="Save()">Aceptar</button>
        <button mat-button (click)="Clear()">Cancelar</button>

  <h3 mat-subheader>apm</h3>
<mat-list>
  <mat-list-item *ngFor="let item of list">
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4 mat-line>{{item.Nombre}} - {{item.Laboratorio}}-{{item.Medicamento}}</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>