<form class="example-form">

  <h1 mat-subheader>Reportes</h1>
    
  <mat-checkbox>Check me!</mat-checkbox>

  <section class="example-section">
    <mat-checkbox class="example-margin"> Pagado</mat-checkbox> <br>
    <mat-checkbox class="example-margin" [disabled]="true">No Pagado</mat-checkbox> <br>
    <mat-checkbox class="example-margin" [disabled]="true">Debe Total</mat-checkbox> <br>
    <mat-checkbox class="example-margin" [disabled]="true">Pago Minimo</mat-checkbox> <br>
    <mat-form-field class="example-full-width">
     
  </mat-form-field> <br>
  </section>
  
  <p>
  
  <button mat-button>Aceptar</button>
  <button mat-button>Cancelar</button>

  
  </form>



















  <h3 mat-subheader>Pagos</h3>
<mat-list>
  <mat-list-item *ngFor="let item of list">
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4 mat-line>{{item.Nombre}} - {{item.Apellido}} </h4>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>