<div class="toolbar" role="banner">
  <h1>
    <p> <img src="../../../assets/img/logodemedico.png" alt="Girl in a jacket" width="25" height="25"> CON SALUD</h1>
</div>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>Menu</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/'"> Home </a>
       <a mat-button [routerLink]="'/Pacientes'"> Pacientes </a>
      <a mat-button [routerLink]="'/Consultas'"> Consultas </a>
      
      <a mat-button [routerLink]="'/GestionTurnos'">GestionDeTurnos</a>
      <a mat-button [routerLink]="'/Pagos'"> Pagos </a>
      <a mat-button [routerLink]="'/ObraSocial'">  ObraSocial </a>
      <a mat-button [routerLink]="'/APM'"> APM</a>
      
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content" role="main">
    <router-outlet></router-outlet>
  <!-- Footer -->
  <footer>

  </footer>

</div>
