<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Persona" aria-label="Persona" [matAutocomplete]="auto" [formControl]="personasCtrl">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of listPersonas | async" [value]="item.Apellido">
        <img class="example-option-img" aria-hidden [src]="item.IdPersona" height="25">
        <span>{{item.Apellido}}</span> |
        <small>Nombre: {{item.Apellido}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</form>
