<form [formGroup]="form"  class="example-form">
  <h1 mat-subheader> Pacientes</h1>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nombre" value="" formControlName="Nombre">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Apellido" value="" formControlName="Apellido">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="DNI" formControlName="DNI"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Direccion" formControlName="Direccion"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Fecha de Nacimiento" formControlName="FechaNacimiento"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Telefono" formControlName="Tel"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Celular" formControlName="Celular"></textarea>
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Mail" formControlName="Email"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Historial"></textarea>
    <a mat-button [routerLink]="'/Consultas'"> <section>
    
    </section>Consultas </a>
     </mat-form-field><br>

     <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Historial"></textarea>
      <a mat-button [routerLink]="'/ObraSocial'"> <section>
      
      </section>ObraSocial </a>
       </mat-form-field><br>

       <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Historial"></textarea>
        <a mat-button [routerLink]="'/Pagos'"> <section>
        
        </section>pagos </a>
         </mat-form-field>
</form>
<button mat-button (click)="Save()">Aceptar</button>
<button mat-button (click)="Clear()">Cancelar</button>


<h3 mat-subheader></h3>
<mat-list>
  <mat-list-item *ngFor="let item of list">
    <mat-icon mat-list-icon>folder</mat-icon>
    <h4 mat-line>{{item.Nombre}} - {{item.Apellido}} </h4>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
