<mat-card></mat-card>

<mat-ca.rd-title>Login</mat-ca.rd-title><mat-card-title>
    <mat-card-content>
        <form>
<p>
    <mat-form-field>
        <input type="text" matInput placeholder="Username">

</mat-form-field>>
</p>
<p>
    <mat-form-field>
        <input type="pasword" matInput placeholder="pasword">

</mat-form-field>
</p>
<button type="submit" mat-raised-button color="primary">Login</button>>
</form>
</mat-card-content>
</mat-card>

<a mat-button [routerLink]="'/main'"> login </a>
        


